Lap trinh windows/WS_CSDL_Form/WS_CSDL_Form/Connected Services/ServiceReference1/ICSDLService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52177/ICSDLService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_CSDL" />
  <xs:element name="Insert_Lop">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WS_CSDL" minOccurs="0" name="lop" nillable="true" type="q1:BangLop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_LopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insert_LopResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WS_CSDL" minOccurs="0" name="GetAllResult" nillable="true" type="q2:ArrayOfBangLop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Lop">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WS_CSDL" minOccurs="0" name="lop" nillable="true" type="q3:BangLop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_LopResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Lop">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WS_CSDL" minOccurs="0" name="lop" nillable="true" type="q4:BangLop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_LopResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_Mon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WS_CSDL" minOccurs="0" name="mon" nillable="true" type="q5:Bangmon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_MonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insert_MonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Mon">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_MonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WS_CSDL" minOccurs="0" name="Get_MonResult" nillable="true" type="q6:ArrayOfBangmon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Mon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WS_CSDL" minOccurs="0" name="mon" nillable="true" type="q7:Bangmon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_MonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Mon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WS_CSDL" minOccurs="0" name="mon" nillable="true" type="q8:Bangmon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_MonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>