Lap trinh windows/WS_CSDL_Form/WS_CSDL_Form/Connected Services/ServiceReference1/ICSDLService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ICSDLService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52177/ICSDLService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52177/ICSDLService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52177/ICSDLService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_CSDL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IICSDLService_Insert_Lop_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert_Lop" />
  </wsdl:message>
  <wsdl:message name="IICSDLService_Insert_Lop_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insert_LopResponse" />
  </wsdl:message>
  <wsdl:message name="IICSDLService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IICSDLService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IICSDLService_Update_Lop_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_Lop" />
  </wsdl:message>
  <wsdl:message name="IICSDLService_Update_Lop_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_LopResponse" />
  </wsdl:message>
  <wsdl:message name="IICSDLService_Delete_Lop_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_Lop" />
  </wsdl:message>
  <wsdl:message name="IICSDLService_Delete_Lop_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_LopResponse" />
  </wsdl:message>
  <wsdl:message name="IICSDLService_Insert_Mon_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert_Mon" />
  </wsdl:message>
  <wsdl:message name="IICSDLService_Insert_Mon_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insert_MonResponse" />
  </wsdl:message>
  <wsdl:message name="IICSDLService_Get_Mon_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Mon" />
  </wsdl:message>
  <wsdl:message name="IICSDLService_Get_Mon_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_MonResponse" />
  </wsdl:message>
  <wsdl:message name="IICSDLService_Update_Mon_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_Mon" />
  </wsdl:message>
  <wsdl:message name="IICSDLService_Update_Mon_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_MonResponse" />
  </wsdl:message>
  <wsdl:message name="IICSDLService_Delete_Mon_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_Mon" />
  </wsdl:message>
  <wsdl:message name="IICSDLService_Delete_Mon_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_MonResponse" />
  </wsdl:message>
  <wsdl:portType name="IICSDLService">
    <wsdl:operation name="Insert_Lop">
      <wsdl:input wsaw:Action="http://tempuri.org/IICSDLService/Insert_Lop" message="tns:IICSDLService_Insert_Lop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IICSDLService/Insert_LopResponse" message="tns:IICSDLService_Insert_Lop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IICSDLService/GetAll" message="tns:IICSDLService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IICSDLService/GetAllResponse" message="tns:IICSDLService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_Lop">
      <wsdl:input wsaw:Action="http://tempuri.org/IICSDLService/Update_Lop" message="tns:IICSDLService_Update_Lop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IICSDLService/Update_LopResponse" message="tns:IICSDLService_Update_Lop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_Lop">
      <wsdl:input wsaw:Action="http://tempuri.org/IICSDLService/Delete_Lop" message="tns:IICSDLService_Delete_Lop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IICSDLService/Delete_LopResponse" message="tns:IICSDLService_Delete_Lop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert_Mon">
      <wsdl:input wsaw:Action="http://tempuri.org/IICSDLService/Insert_Mon" message="tns:IICSDLService_Insert_Mon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IICSDLService/Insert_MonResponse" message="tns:IICSDLService_Insert_Mon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Mon">
      <wsdl:input wsaw:Action="http://tempuri.org/IICSDLService/Get_Mon" message="tns:IICSDLService_Get_Mon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IICSDLService/Get_MonResponse" message="tns:IICSDLService_Get_Mon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_Mon">
      <wsdl:input wsaw:Action="http://tempuri.org/IICSDLService/Update_Mon" message="tns:IICSDLService_Update_Mon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IICSDLService/Update_MonResponse" message="tns:IICSDLService_Update_Mon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_Mon">
      <wsdl:input wsaw:Action="http://tempuri.org/IICSDLService/Delete_Mon" message="tns:IICSDLService_Delete_Mon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IICSDLService/Delete_MonResponse" message="tns:IICSDLService_Delete_Mon_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IICSDLService" type="tns:IICSDLService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert_Lop">
      <soap:operation soapAction="http://tempuri.org/IICSDLService/Insert_Lop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IICSDLService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Lop">
      <soap:operation soapAction="http://tempuri.org/IICSDLService/Update_Lop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Lop">
      <soap:operation soapAction="http://tempuri.org/IICSDLService/Delete_Lop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert_Mon">
      <soap:operation soapAction="http://tempuri.org/IICSDLService/Insert_Mon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Mon">
      <soap:operation soapAction="http://tempuri.org/IICSDLService/Get_Mon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Mon">
      <soap:operation soapAction="http://tempuri.org/IICSDLService/Update_Mon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Mon">
      <soap:operation soapAction="http://tempuri.org/IICSDLService/Delete_Mon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ICSDLService">
    <wsdl:port name="BasicHttpBinding_IICSDLService" binding="tns:BasicHttpBinding_IICSDLService">
      <soap:address location="http://localhost:52177/ICSDLService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>